*{

padding: 0;
margin: 0%;
box-sizing: border-box;
font-family: 'Rubik', sans-serif;

}


.content{

width: 100vw;
height: 450px;
background: linear-gradient(310.2deg, #25254C 5.48%, #6A6DBD 102.12%); ;

}


.header{

width: 90%;
margin: 0 auto;
padding: 30px;
display: flex;
align-items: center;
justify-content: space-between;


}
.after{

    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 1px;
color: #FFFFFF;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgb(49, 49, 96) 40%, rgb(49, 49, 96) 60%, rgba(0, 212, 255, 0) 100%);
    filter: brightness(100);
}

.languages{

a{

font-size: 18px;
color: #FFFFFF;
font-weight: 700;
text-decoration: 0;
font-family: "Steppe";
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-right: 1px;
}

img{
    width: 20px;
    height: 20px;
    margin-left: 40px;
    filter: brightness(100);

}

}

img{
    width: 110px;
    height:40px;
    filter: brightness(100);
}

.sites{
gap: 15px;
display: flex;
align-items: center;


img{
    filter: brightness(100);
    width: 25px;
    height: 25px;
}

.burger{
    background: url(../img/menu_burger.svg);
    filter: brightness(100);
    width: 39px;
    height: 13px;
    border: 0;
    margin-left: 40px;
}


}


.text_1{
    margin: 0 auto;
    width: 80%;;
    padding-top: 40px;
}


h1{
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 10px;
}


p{
    font-size: 32px;
    font-weight: 300;

    color: #fff;
}



.accordion{
    width: 80%;
    max-height: 2000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
margin-top:80px;
    position: relative;
    gap: 34px;
    h2{
        text-align: center;
        font-size: 64px;
        color: #fff;
  line-height: .1;
  
    }


}


.acc_text{

    display: block;
margin: 0 auto;
width: 100%;
max-height: 1200px;
position: relative;
// z-index: 99999;
overflow: hidden;
gap: 30px;

margin-top: -80px;
background-color: #6A6DBD;
padding: 0 110px;
background: rgba(241, 241, 241, 0.7);
backdrop-filter: blur(10px);
box-shadow: 0px 4px 0px rgb(0 0 0 / 25%);
border-radius: 40px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
padding-bottom: 60px;
transition: .4s;


}

.acc_text_1{
display: none;
margin: 0 auto;
width: 100%;
max-height: 1200px;
position: relative;
// z-index: 99999;
overflow: hidden;
gap: 30px;

margin-top: -80px;
background-color: #6A6DBD;
padding: 0 110px;
background: rgba(241, 241, 241, 0.7);
backdrop-filter: blur(10px);
box-shadow: 0px 4px 0px rgb(0 0 0 / 25%);
border-radius: 40px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
padding-bottom: 60px;
transition: .4s ease-out;

}



.acc_text_2{
    display: none;
    margin: 0 auto;
    width: 100%;
    max-height: 1200px;
    position: relative;
    // z-index: 99999;
    overflow: hidden;
    gap: 30px;
    
    margin-top: -80px;
    background-color: #6A6DBD;
    padding: 0 110px;
    background: rgba(241, 241, 241, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 0px rgb(0 0 0 / 25%);
    border-radius: 40px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-bottom: 60px;
    transition: .4s ease-out;
    
    }


    .acc_text_3{
        display: none;
        margin: 0 auto;
        width: 100%;
        max-height: 1200px;
        position: relative;
        // z-index: 99999;
        overflow: hidden;
        gap: 30px;
        
        margin-top: -80px;
        background-color: #6A6DBD;
        padding: 0 110px;
        background: rgba(241, 241, 241, 0.7);
        backdrop-filter: blur(10px);
        box-shadow: 0px 4px 0px rgb(0 0 0 / 25%);
        border-radius: 40px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding-bottom: 60px;
        transition: .4s ease-out;
        
        }

.one{
    
   width: 100%; 
   height: 80px;
   border-bottom: 1px solid black;
   padding-top: 60px;
   padding-bottom: 30px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.two{
    width: 100%; 
    height: 80px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .three{
    width: 100%; 
    height: 80px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .four{
    width: 100%; 
    height: 80px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
 }


.time{
display: flex;
gap: 30px;
font-size: 32px;
font-weight: 700;
color: #25254C;
align-items: center;

h3{
    display: flex;
    
    align-items: center;
}
p{

    font-size: 20px;
font-weight: 700;
    color: #25254C;
    display: flex;
    padding-top: 8px;
    align-items: flex-end;
}
}


.price{

    display: flex;
    gap: 70px;

p{


    font-size: 32px;
    font-weight: 700;
    color: #25254C;
}
}











.accordion_1{
height: 140px;
width: 100%;
padding: 32px 110px;
    background: rgba(241, 241, 241, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.span_top{
width: 45px;
height: 45px;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
border: 0;
background: linear-gradient(310.2deg, #25254C 5.48%, #6A6DBD 102.12%);;

}

.span_bottom{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: linear-gradient(310.2deg, #25254C 5.48%, #6A6DBD 102.12%);;
    
    }

.zal{
    h2{
        width: 168px;
        height: 106px;
        font-weight: 700;
        color: transparent;    
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-background-clip: text;
        background-clip: text;
    background-image:linear-gradient(310.2deg, #25254C 5.48%, #6A6DBD 102.12%) ;
    }
}

.material_top{
//     font-family: 'Material Icons';
// font-size: 45px;
//     font-weight: 400;
//     color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
img{
    rotate: 180deg;
    width: 21px;
    height: 13px;
}



}


.material_bottom{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
 
        width: 21px;
        height: 13px;
    }
}




.accordion_2{
    height: 140px;
    width: 100%;
    padding: 32px 110px;
        background: rgba(241, 241, 241, 0.7);
        backdrop-filter: blur(10px);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 40px;
    }

    .accordion_3{
        height: 140px;
        width: 100%;
        padding: 32px 110px;
            background: rgba(241, 241, 241, 0.7);
            backdrop-filter: blur(10px);
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            border-radius: 40px;
        }

        .accordion_4{
            height: 140px;
            width: 100%;
            padding: 32px 110px;
                background: rgba(241, 241, 241, 0.7);
                backdrop-filter: blur(10px);
                box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                border-radius: 40px;
            }















.content_2{

width: 100vw;
height: 60vh;
background: rgb(255, 255, 255);

}